<div class="section group">

	<!-- left nav -->
	<div class="span_10 col left-vertical-bar">
    <!-- go back to tripview -->
    <div id="back">
		  <a [routerLink]="['/trip',_tripId]">&#8592; Back to trip</a>
    </div>

    <!-- daytrip dropdown nav -->
    <!--
		<div class="dropdown-nav" (click)="showDropDown()" >{{ _currentDay }}</div>
		<div [ngClass]="{'show': _show}" class="dropdown-content" [hidden]="!_show" *ngFor="let dayTrip of _dayTripListRef | async">
			<a (click)="showDropDown()" [routerLink]="['/daytrip', _tripId, dayTrip.$value]">{{ dayTrip.$key }}</a>
		</div>-->

    <div class="daylist-content" *ngFor="let dayTrip of _dayTripListRef | async">

			<a routerLinkActive="router-link-active" [routerLink]="['/daytrip', _tripId, dayTrip.$value]">
        <i class="fa fa-map-o" aria-hidden="true"></i>
        {{ dayTrip.$key }}
      </a>
		</div>
	</div>


	<div class="span_60 col">
		<!-- list of activities -->
    <div class="activity-col">
		  <activity-list [dayTripId]="_dayTripId"></activity-list>
    </div>
	</div>


	<div class="col form-col">
    <!-- create activity form -->
    <div class="section group">
		  <location-form [dayTripId]="_dayTripId"></location-form>
    </div>

    <!-- create transport form-->
    <div class="section group">
      <transport-form></transport-form>
    </div>

    <div class="section group">
      <div class="col">
        <button><i class="fa fa-plus" aria-hidden="true"></i><br>Add Activity</button>
      </div>
      <div class="col">
        <button><i class="fa fa-plus" aria-hidden="true"></i><br>Add Transport</button>
      </div>
    </div>
	</div>
</div>

<router-outlet name="pop-up"></router-outlet>
