.left-vertical-bar {
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.dropdown-nav {
	background: lightseagreen;;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
}

.dropdown-nav:hover, .dropdown-nav:focus {
	background: teal;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	/*position: absolute;*/
	background-color: lightgray;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 5px;
	display: block;
}

.dropdown-content a:hover {
	background-color: darkgrey;
}

.show {
	display: block;
}

#back {
    padding: 7px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}
#back a:hover {
    color: #ff8080;
}

.daylist-content a {
    padding: 7px;
    display: block;
}
.daylist-content a:hover {
    background-color: #41E2B0;
    color: white;
}
.router-link-active {
    background-color: #41E2B0;
    color: white;
}
.fa-map-o {
    margin-right: 10px;
}

.activity-col {
    background-color: #f2f2f2;
    padding: 20px;
}

.form-col {
    background-color: #8c8c8c;
    border-radius: 5px;
}

button {
    background-color: #41E2B0;
}
