<div class="section group">

	<!-- go back to tripview -->
	<div class="span_10 col">
		<a [routerLink]="['/trip',_tripId]">back to trip</a>
	</div>


	<div class="span_70 col">
		<!-- daytrip dropdown nav -->
		<div class="dropdown-nav" (click)="showDropDown()" >{{ _currentDay }}</div>
		<div [ngClass]="{'show': _show}" class="dropdown-content" [hidden]="!_show" *ngFor="let dayTrip of _dayTripListRef | async">
			<a (click)="showDropDown()" [routerLink]="['/daytrip', _tripId, dayTrip.$value]">{{ dayTrip.$key }}</a>
		</div>

		<!-- list of activities -->
		<activity-list [dayTripId]="_dayTripId"></activity-list>
	</div>

	<!-- create activity form -->
	<div class="span_10 col">
		<location-form [dayTripId]="_dayTripId"></location-form>
	</div>

	<!-- create transport form-->
	<div class="span_10 col">
		<transport-form></transport-form>
	</div>
</div>

<router-outlet name="pop-up"></router-outlet>
