<div class="section group">

	<!-- go back to tripview -->
	<div class="span_10 col">
		<a [routerLink]="['/trip',_tripId]">back to trip</a>
	</div>


	<div class="span_70 col">
		<!-- daytrip dropdown nav -->
		<ul>
			<li *ngFor="let dayTrip of _dayTripListRef | async">
				<a [routerLink]="['/daytrip', _tripId, dayTrip.$value]">{{ dayTrip.$key }}</a>
			</li>
		</ul>

		<!-- list of activities -->
		<activity-list [dayTripId]="_dayTripId"></activity-list>
	</div>

	<!-- create activity form -->
	<div class="span_10 col">
		<location-form [dayTripId]="_dayTripId"></location-form>
	</div>

	<!-- create transport form-->
	<div class="span_10 col">
		<transport-form></transport-form>
	</div>


</div>
