.row {
	/*color: lightgray;*/
}

.transport-holder {
	/*margin-left: 10px;*/
	padding-left: 10px;
	/*background: #EDEDED;
	border-radius: 10px;*/
}

#time {
    padding: 20px;
    padding-right: 20px;
    border-right: 2px dotted #444;
}

.transport-icon {
    padding-top: 15px;
    margin-left: 10px;
	height: 30px;
	width: auto;
}

#description {
    margin-top: 25px;
	padding: 2px 5px;
	border: 1px solid darkgray;
	border-radius: 5px;
}
