.modal {
	display: block;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* scrolling */
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 0px;
	border: 1px solid #888;
	width: 80%;
}

.modal-header {
	padding: 2px 16px;
	background-color: #888;
	color: white;
}

.modal-body {
	padding: 2px 16px;
}



.close {
	color: lightgrey;
	float: right;
	font-size: 25px;
	font-weight: bold;
}
.close:hover, .close:focus {
	color: black;
	cursor: pointer;
}

.title {
	font-size: 30px;
    padding: 5px;
    font-weight: bold;
}


hr {
	height:1px;
	border:none;
	color: #9F9F9F;
	background-color:#9F9F9F;
}

.tool-row {
    margin-top: 10px;
}
.vote {
    margin-right: 15px;
}
.fa {
    padding-right: 5px;
}

.fa-map-marker {
    color: #ff6666;
}

.fa-smile-o, .fa-frown-o{
    font-size: 30px;
}
.fa-smile-o:hover {
    color: #00cc99;
}
.fa-frown-o:hover {
    color: #ff8080;
}

.upvoted {
    color: #00cc99;
}
.downvoted {
    color: #ff8080;
}
