.comment {
    padding-left: 9px;

}
.even-row {
    background-color: white;
}
.odd-row {
    background-color: #eaeae5;
}

.user-image {
    padding-top: 5px;
}

.username {
    font-weight: bold;
}

.datetime {
    color: #8c8a8a;
    font-size: 10px;
}
