
#slider { overflow: hidden; }
#slider figure img { height: 200px; }
/*#slider figure {

}*/

.image-container {
	overflow: hidden;
}

.att-list{
	overflow:auto;
	height:100px;
	width:200px;
	padding:10px;
	border-left: 1px solid #EDEDED;
}

.trip-details .title{
	color:#3399ff;
	font-size:20px;
	font-weight: 500;
	margin:0;

}

.att-list li{
	list-style: none;
	font-size: 14px;
	font-weight: 400;
	margin-left:-40px;
	color: black;
	text-transform: none;
}

.att-list ul{
	margin-top: 0;
}

.trip-details{
	padding-top: 20px;
	padding-left: 10%;
	font-size: 25px;
	font-weight: 500;
}

.trip-details .location{
	font-size: 15px;
	font-weight: 400;
}

.trip-details .host{
	font-size: 15px;
	font-weight:400;
}

.trip-details hr{

	height:1px;
	border:none;
	color: #9F9F9F;
	background-color:#9F9F9F;

}

.clear {
	content: '';
}

#daytrip-list {
	min-width:200px;
    width: auto !important;
    width:200px;
	padding:10px 0px 10px 10%;
}


