
<div class="day-card" (click)="toDayTripView()">
	<div class="day-label">
			<div class="day-title">
				<div class="num-act">{{ (_activityNoLimit | async)?.length }} activities planned</div>
			</div>
			<div class="date-circle">
				<div class="daynum">{{ day.slice(3) }}</div>
				<div class="date">the date!</div>
			</div>
	</div>
	<hr>

	<div class="activity" *ngFor="let activity of _activities | async">
			<div *ngIf="activity.eventName" class="activity-name">
				{{ activity.eventName }}
				<!--<div *ngIf="activity.transport">{{ activity.transport }}</div>-->
				<div class="activity-pic"></div>
				<div class="activity-location" *ngIf="activity.location">
					<i class="fa fa-map-marker" aria-hidden="true"></i>{{ activity.location.name }}
				</div>
			</div>
			<hr>
	</div>
</div>

