<div class="section group">
	<day-trip-image [placeId]="( _trip | async )?.tripLocationId"></day-trip-image>
</div>

<div class="section group">
		<div class="trip-details col span_20">
		{{ ( _trip | async )?.tripName }}
		<br>
		<span style="color:#9F9F9F">{{ ( _trip | async )?.startDate }} - {{ ( _trip | async )?.endDate }}</span>

    <div *ngIf="(_trip|async)?.isPast">(PAST)</div>

		<div *ngFor="let admin of _tripAdmins | async" class="host">
			Host by <host [userId]="admin.$key"></host>
		</div>
		<hr align="left">
		<div class="location">
			<i class="fa fa-map-marker" aria-hidden="true"></i>{{ ( _trip | async )?.location }}
		</div>

    <div class="tools">
      <div *ngIf="!(_trip|async)?.isPast">
        <button class="archive" (click)="ArchiveTrip(_tripId)">Archive</button>
      </div>
    </div>
	</div>

	<div class="trip-details col">
		<div class="title divide">Travellers</div>
		<!--<div id="button-row" class="divide">
				<div >
					<a class="invitation" (click)="OpenInvitation()">Invite members + </a>
				</div>
		</div>-->
		<div class="att-list divide">
			<ul  >
				<li *ngFor="let user of _tripRegulars | async">
					<going-user [goingUserId]="user.$key"></going-user>
				</li>
			</ul>
		</div>
	</div>
	<div class="trip-details col">
		<div id="button-row">
				<div >
					<a class="invitation" (click)="OpenInvitation()">Invite members + </a>
				</div>
		</div>
	</div>
</div>
<div id="daytrip-list">
	<div class="" *ngFor="let daytrip of _dayTrips | async">
		<day-trip [tripId]="_tripId" [dayTripId]="daytrip?.$value" [day]="daytrip?.$key" [startDate]="(_trip|async)?.startDate"></day-trip>
	</div>
</div>
<div *ngIf="_isInvitationOpen">
	<app-invite-members-component (closeSplash)="closeInvitation()"></app-invite-members-component>
</div>