<div class="section group">
	<day-trip-image [placeId]="( _trip | async )?.tripLocationId"></day-trip-image>
</div>

<div class="section group">

	<div class="trip-details col span_20">
		{{ ( _trip | async )?.tripName }}
		<br>
		<span style="color:#9F9F9F">{{ ( _trip | async )?.startDate }} - {{ ( _trip | async )?.endDate }}</span>
		<div class="host">Hosted by ????</div>
		<hr align="left">
		<div class="location">
			<i class="fa fa-map-marker" aria-hidden="true"></i>{{ ( _trip | async )?.location }}
		</div>
	</div>

	<div class="trip-details col">
		<div class="title">Travellers</div>
		<div class="att-list">
			<ul>
				<li><i class="fa fa-check-circle-o" aria-hidden="true" style="color:#41E2B0;"></i>---</li>
			</ul>
		</div>
	</div>
</div>

<div id="daytrip-list">
	<div class="" *ngFor="let daytrip of _dayTrips | async">
		<day-trip [tripId]="_tripId" [dayTripId]="daytrip?.$value" [day]="daytrip?.$key"></day-trip>
	</div>
</div>
