#slider {
	/*width:  100px;*/
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
  	background-position: center;
	/*background-image: url('https://c1.staticflickr.com/8/7569/16091996407_28d437d745_b.jpg');*/
	background-image: url('https://lh3.googleusercontent.com/-P8ZUEUkWOVo/WDUWDexjDYI/AAAAAAAACgs/JQJHBlhqUgQO5Cd79JN1L0qV2j4h538OQCLIB/w1000-h400-k/');
}

/*#slider {
	overflow: hidden;
}
#slider img {
	max-width: 100%;
    height: auto;
}*/
