
#slider { overflow: hidden; }
#slider figure img { height: 200px; }
/*#slider figure {

}*/

.image-container {
	overflow: hidden;
}

.att-list{
	overflow:auto;
	height:100px;
	width:200px;
	padding:10px;
	/*border-left: 1px solid #EDEDED;*/
}

.divide{
	border-left: 1px solid #EDEDED;
	padding-left: 30px;
}

.trip-details .title{
	color:#3399ff;
	font-size:20px;
	font-weight: 500;
	margin:0;
	
}

.att-list ul li{
	list-style: none;
	font-size: 14px;
	font-weight: 400;
	
	color: black;
	text-transform: none;
	float: left;
}

.att-list ul{
	margin-top: 0;
	margin-left: -40px;
	list-style-type: none;
}

.trip-details{
	padding-top: 20px;
	padding-left: 10%;
	font-size: 25px;
	font-weight: 500;
}

.trip-details .location{
	font-size: 15px;
	font-weight: 400;
}

.trip-details .host{
	font-size: 15px;
	font-weight:400;
}

.trip-details .invitation{
	cursor: pointer;
	font-size: 15px;
	font-weight:400;
}


.clear {
	content: '';
}

#daytrip-list {
	min-width:200px;
    width: auto !important;
    width:200px;
	padding:10px 0px 10px 10%;
}

.archive {
    background-color: lightskyblue;
    margin: 5px 0px;
    padding: 9px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}
.archive:hover {
    background-color: cyan;
}
