
<div class="day-card" (click)="ToDayTripView()">
	<div class="day-label">
			<div class="day-title">
				<div class="num-act">{{ (_activityNoLimit | async)?.length }} activities planned</div>
			</div>
			<div class="date-circle">
				<div class="daynum">{{ day.slice(3) }}</div>
				<div class="date">{{ _startDate }}</div>
			</div>
	</div>

	<div class="section group" *ngFor="let activity of _activities | async">
			<div *ngIf="activity.eventName" class="activity">
				<!--<div class="activity-pic col"></div>-->
				<small-round-image class="col" [placeId]="activity.location.id"></small-round-image>
				<div class="col">
					<div class="activity-name">{{ activity.eventName }}</div>
					<div class="activity-location" *ngIf="activity.location">
						<i class="fa fa-map-marker" aria-hidden="true"></i>{{ activity.location.name }}
					</div>
				</div>
			</div>

			<hr/>
	</div>
</div>

