@import '../../../assets/sass/variables.scss';

.day-trip-name {
  padding: 0 10px;
  padding-top: 10px;
  h2 {
    width:100%;
    //text-align:center;
    //border-bottom: 1px solid #000;
    //line-height:0.1em;
    margin:10px 0 20px;
    .line-text {
      background:#fff;
      padding:0 10px;
    }
  }

  // hover onto card and make toolbox appear
  &:hover .tools {
    opacity: 1;
  }

  .tools {
    cursor: pointer;
    i {
      font-size: 16px;
      &:hover {
        color: $second-color;
      }
    }

    opacity: 0;
    transition: opacity ease-in-out .3s;
    -moz-transition: opacity ease-in-out .3s;
    -webkit-transition: opacity ease-in-out .3s;
  }
}

.button-row {
  padding: 10px;
}


