<div id = "form-wrapper">

	<img style="padding-bottom:20px;" src="assets/img/logo.png"/>

	<div class="title">Join Travel Bug</div>
	<p>Already have an account with us?</p>
	<div class="login" (click)="ToLogin()">Log in</div>

	<div class="or-divider"><span>OR</span></div>

		<div class="facebook" (click)="LoginWithFacebook()">CONTINUE WITH WITH FACEBOOK</div>

	<div class="or-divider"><span>OR</span></div>

	<div *ngIf="_error">
		<span style="color: red; font-size: 10px;">
			<p>{{ _error }}</p>
		</span>
	</div>
	<!-- REGISTER FORM START -->
	<form nz-form [formGroup] = "registerForm">
		<div nz-form-item>
			<div nz-form-control [nzValidateStatus]="registerForm.get('email')" nzHasFeedback>
				<nz-input id="email" formControlName="email" [nzPlaceHolder]="'email'" [nzType]="'email'" [nzSize]="'large'">
				</nz-input>
				<div nz-form-explain [hidden] ="(registerForm.get('email').valid || (registerForm.get('email').pristine && !_submitted))">Valid Email Required</div>
			</div>
		</div>
		<div nz-form-item>
			<div nz-form-control [nzValidateStatus]="registerForm.get('firstname')">
				<nz-input id="firstname" [nzType]="'text'" formControlName="firstname" [nzPlaceHolder]="'firstname'" [nzSize]="'large'">
				</nz-input>
			</div>
		</div>
		<div nz-form-item>
			<div nz-form-control [nzValidateStatus]="'validating'" nzHasFeedback>
				<nz-input [ngModel]="'The content is being validating'" [nzSize]="'large'" name="validating">
				</nz-input>
				<div nz-form-explain>I'm the content is being validating</div>
			</div>
		</div>
		<div nz-form-item>
			<div nz-form-control [nzValidateStatus]="'success'" nzHasFeedback>
				<nz-input [ngModel]="'The content'" [nzSize]="'large'" name="successValid">
				</nz-input>
			</div>
		</div>
		<div nz-form-item>
			<div nz-form-control [nzValidateStatus]="'warning'" nzHasFeedback>
				<nz-input [ngModel]="'Warning'" [nzSize]="'large'" name="warningHighValid">
				</nz-input>
				<div nz-form-explain>Should be combination of numbers & alphabets</div>
			</div>
		</div>
		<div nz-form-item>
			<div nz-form-control [nzValidateStatus]="'error'" nzHasFeedback>
				<nz-input [ngModel]="'unavailable choice'" [nzSize]="'large'" name="invalidValid">
				</nz-input>
				<div nz-form-explain>Should be combination of numbers & alphabets</div>
			</div>
		</div>
	</form>
<!-- REGISTER FORM END -->

</div>
