#form-wrapper {
	text-align: center;
	background-color: #F7F7F7;

	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;

	/*width:350px; could result in overflow when using mobile phone whose screen width is smaller than 350px */

	margin:20px auto;

	padding:20px 20px 50px 20px;
}

#form-wrapper .title {
	font-size: 20px;
	font-weight: 500;
	padding-bottom:15px;
}

#form-wrapper .smallgray {
	font-size: 10px;
	color:#9F9F9F;
	padding:10px;
}

#form-wrapper a {
	color:#41E2B0;
}

#form-wrapper .facebook {
	border:none;
	background-color:#3b5998;
	color:white;

	font-size:10px;
	font-weight: 200;
	padding:10px 15px 10px 15px;
	margin:10px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#form-wrapper .facebook:hover {
	background-color:#29487d;
	cursor: pointer;
}

#form-wrapper .login {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	padding:5px 25px 5px 25px;

	border:1px solid #9F9F9F;
	background-color: #F7F7F7;
	color:#9F9F9F;
	font-size: 10px;
}
#form-wrapper .login:hover {
	background-color: lightgray;
	cursor: pointer;
}

#errors {
	color: red;
	font-size: 10px;
}

.reactive-error {
	color: red;
	font-size: 8px;
}

form .submit {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	border:none;
	margin-top:10px;

	padding:7px;
	margin:20px;

	color:white;
	background-color: #41E2B0;
}
form .submit:hover {
	background-color: teal;
	cursor: pointer;
}

form input {
	font-size: 10px;
	padding:10px;
	margin-top: 3px;
	margin-bottom: 5px;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:none;
}

.or-divider {
	width: 100%;
	text-align: center;
	border-bottom: 1px solid lightgray;
	line-height: 0.1em;
	margin: 30px 0 30px;

	font-size: 8px;
	color: lightgray;
}

.or-divider span {
	background-color: #F7F7F7;
    padding:0 10px;
}





