<div id="index-wrapper">
	<div class="top-slider">
		<div class="bg-img">
			<img src = "assets/img/greenLogo.png" class="greenlogo"><br>
			<img src  = "assets/img/logotyped.png" class="typedlogo">

		</div>
	</div>
	<div class="bottom-slider section group">
		<img class="intro-pic col span_10" src="assets/img/tripoverview-opt.png"/>

		<ul class="list-features col span_40">
			<li><img class="icon" src="assets/img/msgs.png"/>Spam free messaging</li>
			<li><img class="icon" src="assets/img/cal.png"/>Finalise dates using collaborative calendar</li>
			<li><img class="icon" src="assets/img/status.png"/>Attendence statuses</li>
			<li><img style="padding-left:10px;"class="coming-soon-sticker" src="assets/img/coming-soon.png"/></li>
		</ul>

	</div>

	<div class="beta-msg">
		Travel Bug is currently in production!<br>
		Contact us for more information on the upcoming Alpha version.
	</div>

</div>
