@import '../../../../assets/sass/variables.scss';

.navigation-content {
  background: white;
  padding: 0;
  border-bottom: 1px solid $mid-gray;
  height: 64px;
}

#logo {

  img {
    width: 20px;
    position: absolute;
    left: 20px;
    top: 30%;
  }
  z-index: 1;
  
}

#header-menu {
  line-height: 62px;
  position: absolute;
  right: 0;
  
}

.static-top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  // background-color: white;
  // border-bottom: black solid 1px;
  z-index: 1;
}

.ant-menu-horizontal {
  :hover, .ant-menu-item-selected {
    color: $second-color;
    border-bottom: $second-color 2px solid;
  }
}



