@import '../assets/sass/variables.scss';


#layout {
  min-height: 100%;
  position: relative;
  background: $background-white;
}

#content {
  padding-top: 70px;       // heigh of header
  padding-bottom: 60px;    // heigh of footer
}
