<div nz-row>
  <div nz-col class="side-col" [nzSpan]="4">
    <div class="left-side-bar">
      <nz-affix class="timeline">
        <nz-anchor>
          <nz-link #dayTripLink *ngFor="let day of dayTripList; let i = index"
            nzHref="#item-{{i}}"
            nzTitle="{{ day.dayTripName }}">
          </nz-link>
        </nz-anchor>
      </nz-affix>
      <button nz-button [nzLoading]="addDayTripLoading" [nzType]="'primary'" (click)="createDayTrip()">
        <span>Add Day Trip</span><i class="anticon anticon-plus"></i>
      </button>
    </div>
  </div>

  <div nz-col class="mid-col" [nzSpan]="14">
    <div *ngFor="let d of dayTripList; let i = index" class="day-trip">
      <!-- anchor -->
      <span class="anchor-id" [id]="'item-'+i"></span>
      <day-trip-title [dayTrip]="d"></day-trip-title>

      <!--<div [dragula]="'bag-activity'"  [dragulaModel]="d.activities">
        <event *ngFor="let a of d.activities; let j = index" [event]="a"></event>
      </div>-->
      <!--<activity-list [dayTripId]="d.id" [tripId]="d.tripId" [activities]="d.activities"></activity-list>-->

      <div class="activity-box" [dragula]="'bag-activity'"  [dragulaModel]="d.activities">
        <event attr.activity-id="{{ a.id }}" *ngFor="let a of d.activities; let j = index" [event]="a"></event>
      </div>
    </div>

    <div *ngIf="dayTripList.length <= 0">
      <h3>Create a new day trip and start planning!</h3>
    </div>
  </div>

  <div nz-col class="side-col" [nzSpan]="6">
    <div class="right-side-bar">
      <div nz-row>
        <button class="activity-button" (click)="createTempEvent()"><i class="anticon anticon-plus"></i><br><span>Add Activity</span></button>
        <!--<button class="activity-button"><i class="anticon anticon-plus"></i><br>Add Transport</button>-->
      </div>

      <div id="temp-heading">Temporary Activities</div>
      <div class="temp-box" [dragula]="'bag-activity'" [dragulaModel]="tempEventList">
        <temp-event attr.activity-id="{{ temp.id }}" *ngFor="let temp of tempEventList; let i = index" [event]="temp"></temp-event>
      </div>
    </div>
  </div>
</div>

<create-event-modal></create-event-modal>
<edit-temp-event-modal></edit-temp-event-modal>
<edit-event-modal></edit-event-modal>

<!-- <nz-template #anchor-template>
  <span>template</span>
</nz-template> -->
