@import '../../assets/sass/variables.scss';

#header {
  background: white;
  padding: 0;
}

#logo {
  float: left;
  margin: 0 20px;
  img {
    width: 20px;
  }
}

#header-menu {
  line-height: 64px;
  border-bottom: 1px solid $mid-gray;
}

.static-top {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  // background-color: white;
  // border-bottom: black solid 1px;
  z-index: 1;
}

.ant-menu-horizontal {
  :hover, .ant-menu-item-selected {
    color: $second-color;
    border-bottom: $second-color 2px solid;
  }
}



