<!-- <div nz-col [nzSpan]="8" class="trip" [routerLink]="['/trip', (_trip|async)?.$key]">
	<div class="date-box">
		<div class="date">{{ (_trip | async)?.startDate | stringToDate | date:'d' }}</div>
		<div class="month">{{ (_trip | async)?.startDate | stringToDate | date:'MMM' }}</div>
	</div>
	<div class="card-left">
		<firebase-place-image [placeId]="(_trip | async)?.tripLocationId"></firebase-place-image>
	</div>
	<div class="card-right">

		<div class="trip-textbox">
			<div class="title">{{ (_trip | async)?.tripName }}</div>
			<div class="full-dates">{{ (_trip | async)?.startDate | stringToDate | date:'d' }} - {{ (_trip | async)?.endDate | stringToDate | date:'d MMMM' }}</div>

			<div id="host-row" class="host">Hosted by
				<div class="admin" *ngFor="let user of _tripAdmins | async">
					<host [userId]="user.$key"></host>
				</div>
			</div>
			<table id="going-user-row">
				<tr>
					<td *ngFor="let user of _tripRegulars | async">
						<going-user [goingUserId]="user.$key"></going-user>
					</td>
				</tr>
			</table>
			<div id="location">
				<i class="fa fa-map-marker" aria-hidden="true"></i>{{ (_trip | async)?.location }}
			</div>
		</div>
	</div>
</div> -->

<nz-card style="width: 240px;">
  <ng-template #body>
    <div class="custom-image">
      <img alt="example" src="https://i.pinimg.com/736x/f7/ba/65/f7ba654d396fc5b904ccc2c2532435a5--eerie-photography-creative-photography.jpg"/>
    </div>
    <div class="custom-card">
      <h3>Europe Street beat</h3>
      <p>www.instagram.com</p>
    </div>
  </ng-template>
</nz-card>
