html, body {
  margin:0;
  padding:0;
  height:100%;
}

// body {
//   min-height: 100%;
//   position: relative;
// }

.link {
  cursor: pointer;

  :focus {
    outline: none;
  }
}

li {
  :focus {
    outline: none;
  }
}

*:focus {
  outline: none;
}

.main-content {
  padding-top: 70px;       // heigh of header
  padding-bottom: 120px;    // heigh of footer
  padding-left: 15px;
  padding-right: 15px;
  align-content: center;
}
