html, body {
  margin:0;
  padding:0;
  height:100%;
}

// body {
//   min-height: 100%;
//   position: relative;
// }

.link {
  cursor: pointer;

  :focus {
    outline: none;
  }
}

li {
  :focus {
    outline: none;
  }
}

*:focus {
  outline: none;
}
